<h1>Results</h1>
<% @equipment.each do |equipment| %>
<div class="card">
<h3><%= equipment.title %></h3>
  <p>Description: <%= equipment.description %></p>
  <p>Instructions: <%= equipment.instructions %></p>
  <p>Category: <%= equipment.category %></p>
  <p>Price: $<%= equipment.price %></p>
  <div> <% equipment.pictures.each do |picture| %>
    <%= cl_image_tag picture.path, class: "avatar-large" %>
    <% end %>
  </div>
</div>
<% end %>
