<div class="container-fluid" style="background-color: whitesmoke">
<div class="equipment-index-title text-center">
    <h2>Available <%= image_tag("gear.png") %> in <strong style="color: #338CD2;"><%= params[:address].capitalize %></strong></h2>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div id="map">
        <% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
        <% end %>
      </div>
    </div>
    <div class="col-sm-7 text-center">
      <div class="cards">
        <div class="row">
          <% @equipment.each do |equipment| %>
          <div class="col-xs-12 col-sm-6">
            <div class="card">
              <% if equipment.user.profile_pic %>
              <%= cl_image_tag equipment.user.profile_pic.path, height: 100, width: 100, crop: :fill, class: "avatar-bordered"; %>
              <% end %>

              <div class="card-picture filter" style="background-image: url(
                <% if equipment.pictures? %>
                <%= cl_image_path equipment.pictures.first.path, height: 400, width: 600, crop: :fill; %>
                <% else %>
                <%= image_path "background.jpg" %>
                <% end %>">
                <p><%= equipment.category %></p>
              </div>
              <div class="card-title">
                <h2><%= equipment.title %></h2>
              </div>
              <div class="card-price">
                <p>$<%= equipment.price %></p>
              </div>
              <%= link_to '', equipment_path(equipment), class: 'card-link' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
