<div class="product-banner" style="background-image: url(
  <% if @equipment.pictures? %>
  <%= cl_image_path @equipment.pictures.first.path, height: 800, width: 1200, crop: :fill %>
  <% else %>
  <%= image_path "background.jpg" %>
  <% end %>
  );">
  <% if @equipment.user.profile_pic %>
  <%= cl_image_tag @equipment.user.profile_pic.path, height: 100, width: 100, crop: :fill, class: "avatar-large"; %>
  <% end %>
  <p id="owner"><%= @equipment.user.first_name %> <%= @equipment.user.last_name %></p>
  <div class="ratings">
    <p>
      <% 1.upto(5) do |i| %>
      <% if i > @equipment.average_stars %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <% else %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      <% end %>
      (<%= @equipment.reviews.length %> votes)
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="product-description">
        <p id="title"><%= @equipment.title %></p>
        <p id="description"><%= @equipment.description %></p>
        <p id= "address">Pick up at <strong><%= @equipment.address %></strong></p>
        <p id="category"><%= @equipment.category %></p>
        <p id="price">Daily price: €<%= @equipment.price %></p>
        <%= simple_form_for [@equipment, Review.new], class: "form-inline" do |f| %>
        <div class="row" style="display: inline-block;">
          <fieldset class="rating">
            <input type="radio" id="star5" name="review[number]" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4" name="review[number]" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3" name="review[number]" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2" name="review[number]" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1" name="review[number]" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          </fieldset>
        </div>
        <div class="row">
          <%= f.submit "Rate", class: "btn btn-primary btn-xs"%>
        </div>
        <% end %>
      </div>
      <div class="product-map">
        <div id="map" style="height: 300px;">
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="product-booking">
        <p>Book this <%= @equipment.title %> </p>
        <%= form_for [@equipment, @equipment.bookings.build], class: 'form form-inline' do |f| %>
        <div class="input-daterange input-group">
          <%= f.date_field :pickup, class: 'input-sm form-control' %>
          <span class="input-group-addon">to</span>
          <%= f.date_field :dropoff, class: 'input-sm form-control' %>
        </div>
        <%= f.submit "Book now", class: "btn btn-primary", id: "book-button" %>
        <% end %>
      </div>
      <div class="product-pictures text-center">
        <% @equipment.pictures.each do |picture| %>
        <a href="<%= cl_image_path picture.path, height: 800, width: 1200, crop: :fill %>" class="swipebox" title="My Caption">
          <img src="<%= cl_image_path picture.path, height: 200, width: 300, crop: :fill %>" alt="image" style="padding: 4px; margin: 8px; width: 45%;" class="img-thumbnail">
        </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @product_hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>
