<div class="container-fluid text-center" style="background-color: whitesmoke">
  <div class="equipment-index-title">
    <h2>My <%= image_tag("gear.png") %></h2>
  </div>
  <div class="cards">
    <div class="row">
    <% current_user.equipment.each do |equipment| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card">
          <div class="card-picture filter" style="background-image: url(
            <% if equipment.pictures? %>
            <%= cl_image_path equipment.pictures.first.path, height: 400, width: 600, crop: :fill; %>
            <% else %>
            <%= image_path "background.jpg" %>
            <% end %>">
            <p><%= equipment.category %></p>
          </div>
          <div class="card-title">
            <h2><%= equipment.title %></h2>
          </div>
          <div class="card-price">
            <p>$<%= equipment.price %></p>
          </div>
          <%= link_to '', account_equipment_path(equipment), class: 'card-link' %>
        </div>
      </div>
      <% end %>
      <div class="col-xs-6 col-sm-3">
        <div class="card card-new" style="background-color: white">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <%= link_to '', new_account_equipment_path, class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
