<div class="container">
  <h1>New equipment</h1>
  <%= simple_form_for [:account, @equipment] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :instructions %>
  <%= f.input :price %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to "Cancel", "#", class: "btn btn-default" %>
  <% end %>
</div>
