<div class="product-banner" style="background-image: url(<%= cl_image_path @equipment.pictures.first.path, height: 400, width: 600, crop: :fill %>);">
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @equipment.title %><%= link_to edit_account_equipment_path do %>
        <i class="fa fa-wrench"></i>
        <% end %>
      </h1>
      <p>Description: <%= @equipment.description %></p>
      <p>Instructions: <%= @equipment.instructions %></p>
      <p>Category: <%= @equipment.category %></p>
      <p>Price: $<%= @equipment.price %></p>
      <p>Owner: <%= current_user.first_name %> <%= current_user.last_name %></p>
    </div>
    <div class="col-xs-6">
      <% @equipment.pictures.each do |picture| %>
      <div class="card" style="background-image: url(<%= cl_image_path picture.path, height: 400, width: 600, crop: :fill %>);">
        </div>
        <% end %>
      </div>
    </div>
  </div>

