<div class="product-banner" style="background-image: url(
  <% if @equipment.pictures? %>
  <%= cl_image_path @equipment.pictures.first.path, height: 800, width: 1200, crop: :fill %>
  <% else %>
  <%= image_path "background.jpg" %>
  <% end %>
  );">
  <% if @equipment.user.profile_pic %>
  <%= cl_image_tag @equipment.user.profile_pic.path, height: 100, width: 100, crop: :fill, class: "avatar-large"; %>
  <% end %>
  <p id="owner"><%= @equipment.user.first_name %> <%= @equipment.user.last_name %></p>
  <%= link_to(edit_account_equipment_path, class: "edit-product") do %>
  <i class="fa fa-wrench" aria-hidden="true"></i>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="product-description">
        <p id="title"><%= @equipment.title %></p>
        <p id="description"><%= @equipment.description %></p>
        <p id= "address">Pick up at <strong><%= @equipment.address %></strong></p>
        <p id="category"><%= @equipment.category %></p>
        <p id="price">Daily price: €<%= @equipment.price %></p>
      </div>
      <div class="product-map">
        <div id="product-map" style="height: 300px;">
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="product-pictures text-center">
        <% @equipment.pictures.each do |picture| %>
        <a href="<%= cl_image_path picture.path, height: 800, width: 1200, crop: :fill %>" class="swipebox" title="My Caption">
          <img src="<%= cl_image_path picture.path, height: 200, width: 300, crop: :fill %>" alt="image" style="padding: 4px; margin: 8px; width: 45%;" class="img-thumbnail">
        </a>
        <% end %>
        <div class="add-picture card-new" style="background-color: whitesmoke; width: 45%;" class="img-thumbnail">
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
          <%= link_to '', new_account_equipment_path, class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to("Edit page", edit_account_equipment_path, class: "btn btn-primary btn-md bottom-edit") %>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'product-map' } }, function() {
      marker = handler.addMarker(<%= raw @product_hash.to_json %>);
      handler.bounds.extendWith(marker);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>

