<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <%= form_tag equipment_index_path, method: :get, class: "navbar-wagon-search" do %>
  <input type="text" name="address" class="navbar-wagon-search-input" placeholder="eg: London">
  <select id="category" name="category" class="navbar-wagon-search-select">
  <%= ["All", "Cycling","Ball sports","Catch sports","Winter sports","Water sports","Archery","Board sports","Climbing","Cue sports","Fishing","Combat sports","Gymnastics","Sailing","Trekking","Motorized sports","Golf"].sort.each do |category| %>
    <option <%= params[:category] == category ? "selected" : nil %>><%= category %></option>
  <% end %>
  </select>
  <button type="submit" class="navbar-wagon-search-btn" label="Search">
    <i class="fa fa-search"></i>
  </button>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Text link -->
    <%= link_to "Bookings", account_bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Gear", account_equipment_index_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user.profile_pic? %>
        <%= cl_image_tag current_user.profile_pic.path, crop: :fill, width: 150, height: 150, class: "avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
        <%= image_tag "blank-avatar.png", class: "avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to account_profile_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_account_profile_path do %>
            <i class="fa fa-wrench"></i>  <%= t(".profile", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Button (call-to-action) -->
    <%= link_to "Add Gear", new_account_equipment_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

    <% else %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-right navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
        <li><%= link_to "Profile", account_profile_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Bookings", account_bookings_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "My Equipment", account_equipment_index_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% else %>
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
