<div class="profile-page-container">
  <div class="profile-content">
    <div class="profile-intro">
    <div class="profile-name text-center">
      <h1><%= current_user.first_name %></h1>
      <h1><%= current_user.last_name %></h1>
    </div>
    <div class="edit-profile">
    <%= link_to edit_account_profile_path do %>
      <i class="fa fa-wrench"></i>
    <% end %>
    </div>
    <% if current_user.profile_pic %>
    <%= cl_image_tag(current_user.profile_pic.path, :crop => "fill", :width => 150, :height => 150, class: "avatar-square profile-pic") %>
    <% else %>
    <%= image_tag "blank-avatar.png", class: "avatar-square profile-pic" %>
    <% end %>
    </div>
    <div class="profile-description">
      <p> Email: <%= current_user.email %></p>
      <p> Member since : <%= (current_user.created_at) %></p>
    </div>
  </div>
</div>
